

body { 
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {  
    color: maroon; 
}
 h3 { 
    background:orangered;
    color: chocolate;}



